  /*LAYOUT STYLING*/

  .whole-site{
    display: flex;
    flex-direction: column;
    align-content: left;
    height: 100%;
    width: 100%;

}

.site-header{
  display: flex;
  height: 10%;
  width: 100%;
}

.video-box {
  display: flex;
  height: 1080 px;
  width: 1920 px;
}

.site-row-1{
  display: flex;
  height: 30%;
  width: 100%;

}

.site-row-2{
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: row;
  align-content: left;
}

.site-row-3{
  display: flex;
  height: 30%;
  width: 100%;

}


/* .button-row-2 {
  display: flex;
  height: TBA by Joshua
  width: TBA by Joshua;
}
 */

.ck-button {
  background-color: red;
  border-radius: 10px;
  border: 2px solid black;
  overflow:hidden;
}

 .ck-button:hover {
  background:rgb(255, 238, 4);
}

.ck-button label span {
  text-align:center;
  padding:10px 0px;
  display:block;
}

.ck-button label input {
  position:absolute;
  top:-20px;
}

.ck-button input:checked + span {
  background-color:#88FF88;
  color:black;
} 

.ck-button1{
  width: 400px;
}

.ck-button2{
  width:800px;
  background-color: #88FF88;
}

.ck-button2 input:checked + span {
  background-color: red;
  color:black;
} 


